@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .container-sm{
    max-width: 920px;
  }

}

@media (min-width: 576px) and (max-width: 992px) {
  .navbar-right {
    margin-right: 0;
  }
}


@media (max-width: 992px) {
  .hide-mobile {
    display: none!important;
  }
  .container {
    max-width: 95%;
  }
  .show-mobile {
    display: block!important;
  }

}
